/*
==============================
BASIC SETUP
==============================
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #222;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    line-height: 1.25em;
    margin-bottom: 0.5em;
}

.big {
    font-size: 1.05em;
    margin-bottom: 1em;
}

button, form, input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    padding: 30px 15px;
}

.container {
    max-width: 992px;
    width: 92%;
    margin: 0 auto;
}

::selection {
    background: #fc0;
    color: #222;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #222; 
}
   
::-webkit-scrollbar-thumb {
    background: #fc0; 
    border-radius: 8px;
}

/*
==============================
HEADER
==============================
*/

header {
    background: #181818;
    color: #efefef;
    margin-bottom: 15px;
}

header h1 {
    font-size: 3em;
}

header h1 a {
    color: #fc0;
    text-decoration: none;
}

header .subtitle {
    font-size: 1.15em;
}

header .subtitle span {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/*
==============================
SECTION
==============================
*/

section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.griddy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.griddy .workouts {
    padding: 30px 15px;
    background: #efefef;
    color: #222;
}

.griddy .workouts-queued {
    background: #ffe789;
}

.workouts-queued table tbody tr:nth-child(odd) {
    background-color: #ffdf62;
}

.workouts table {
    width: 100%;
}

.workouts table td, th {
    border: 0;
    text-align: left;
    padding: 0.5em 1em;
}
  
.workouts-unqueued table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

.workouts table tbody tr td {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/*
==============================
FORM
==============================
*/

.workouts-form {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 8px;
    align-items: center;
}

.workouts-form h2 {
    margin: 0;
}

.workouts-form form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8px;
    align-items: center;
}

.workouts-form form input {
    padding: 0.5em;
    width: 100%;
    font-size: 100%;
    border: none;
}

.workouts-form form input:focus {
    outline: none;
}

.workouts-form form input:-webkit-autofill,
.workouts-form form input:-webkit-autofill:hover, 
.workouts-form form input:-webkit-autofill:focus, 
.workouts-form form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*
==============================
BUTTONS
==============================
*/

.btn {
    display: inline-block;
    padding: 0.5em;
    background: #fc0;
    color: #222;
    border: 1px solid #e6b800;    
    border-radius: 0.5em;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.btn-sm {
    font-size: 0.8em;
    line-height: 0.8em;
}

.btn-collapsible {
    max-width: 24px;   
    white-space: nowrap;
    justify-self: end;
}

.btn-collapsible span {
    opacity: 0;
    text-indent: -6px;
}

.btn-collapsible:hover {
    max-width: initial;
}

.btn-collapsible:hover > span {
    opacity: 1;
    text-indent: 0px;
    transition: all 500ms ease-in-out;
}

/*
==============================
FOOTER
==============================
*/

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
    align-items: center;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

footer nav li {
    padding-right: 15px;
}

footer nav li a {
    color: #fc0;
    text-decoration: none;
    transition: 500ms;
}

footer nav li a:hover {
    filter: brightness(50%);
}

.social {
    font-size: 1.3em;
}

.credit {
    text-align: center;
}