<tr>
    <td>
        <span>{{workout}}</span>
        <button class="btn btn-sm btn-collapsible btn-workout" data-id="{{id}}" data-queue="{{queued}}">
            {{#if queued}}<i class="fas fa-minus fa-sm"></i> <span>Remove from Workout</span>
            {{else}}<i class="fas fa-plus fa-sm"></i> <span>Add to Workout</span>
            {{/if}}
        </button>
    </td>
</tr>