@media screen and (max-width: 768px) {

    /*
    ==============================
    MODAL
    ==============================
    */

    .modal-grid {
        grid-template-columns: 1fr;
    }

    .modal-left {
        display: none;
    }

    .modal {
        margin: 0 auto;
    }

}